{
  "presets": ["stage-2"],
  "plugins": [
    "syntax-decorators",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"],
  "ignore": ["node_modules/"]
}
